a {
  color: #008fd6;
  text-decoration: none;
}
a:not(.button):hover {
  text-decoration: underline;
}
a:not(.button)[target=_blank]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: 5px;
}
body {
  font-size: 14px;
}
.button {
  border-bottom-color: #999 !important;
  border-radius: 14px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), inset 0 0 5px rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.sub {
  color: #004c99;
  font-size: 16px;
}
#python:hover {
  background: linear-gradient(#e6e6e6 10%, #d9d9d9 90%);
}
#script:hover {
  background: linear-gradient(white, #ffe166);
}

/* inline */

main {
  border: 1px outset rgba(193, 202, 214, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 12px -5px rgba(62, 65, 90, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 25px 110px;
  width: 400px;
}
#plus {
  background: url(/images/plus.png);
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 15px;
}
#python {
  background: linear-gradient(#d9d9d9 10%, #ccc 90%);
  border-color: #caccce;
  padding-left: 20px;
  padding-right: 20px;
}
#script {
  background: linear-gradient(white, #ffeb99);
  border-color: #efe2a8;
  padding-left: 25px;
  padding-right: 25px;
}
#software {
  align-items: center;
  display: flex;
  justify-content: center;
}
#title {
  color: #1c1a16;
  font-size: 24px;
  margin-block-start: 0;
}